header{
    width: 80%;
    height: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2rem;
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #6CA9E0;
        border-radius: 1rem;
        font-size: 2rem;
        color: white;
        text-align: center;
    }
}