main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas: 
    "section aside"
    "section aside"
    "section aside"
    "section aside";
    section{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 2rem;
        p{
            padding: 2rem;
            background-color: $sections;
            color: $color-text;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-radius: 2rem;
        }
    }
    aside{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $titulo;
        border-radius: 2rem;
        padding: 1rem;
        
        p{
            color: white;
        }
    }
}