@import "header";
@import "nav";
@import "main";
@import "footer";
body{
    background-color: rebeccapurple;
}
.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
}
